@media all {
  .pagebreak {
    display: none;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}
.rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(-90deg);
  display: inline-block;
  padding: 18px;
}
